/* ====================================================
   0. Loading And Copyright Related Part
   ==================================================== */
.loading {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	background: #000;
	opacity: 0.6;
	z-index: 2000;
}
.loading-circle {
	height: 120px;
	width: 120px;
	z-index: 2006;
}
.copyright {
	padding-top: 10px;
	margin-bottom: 20px;
	line-height: 1em;
	text-align: center;
}
.copyright a {
	color: inherit;
}
ul .copyright {
	padding-top: 20px !important;
	margin-bottom: 0 !important;
	border-top: 1px solid rgba(158, 158, 158, 0.3);
	margin-top: calc(100vh - 350px);
}
ul .copyright a {
	padding: 0 !important;
}
.copyright-admin {
	margin-top: calc(100vh - 490px) !important;
}

/* ====================================================
   1. Card Related Part
   ==================================================== */
.card-action {
	padding-top: 7px !important;
	padding-bottom: 10px !important;
}
.card .card-content {
	padding-bottom: 0;
}

/* ====================================================
   2. Cover And Cover Image Related Part
   ==================================================== */
.cover,
.cover-reservation {
	margin-right: 0 !important;
}
.cover .cover-image {
	position: absolute;
	visibility: hidden;
	z-index: 5;
	bottom: 2.7em;
	right: 1em;
}
.cover-reservation .cover-image-reservation {
	position: absolute;
	visibility: hidden;
	z-index: 5;
	bottom: 1em;
	left: 1.5em;
}
.cover .cover-image img {
	max-width: 150px;
}
.cover-reservation .cover-image-reservation img {
	max-width: 100px;
}
.cover:hover .cover-image,
.cover-reservation:hover .cover-image-reservation {
	visibility: visible;
}

/* ====================================================
   3. Self-Defined Style Or Overwrite Part
   ==================================================== */
th {
	font-weight: 500;
}
.modal {
	max-height: 90% !important;
}
.white-text {
	padding-bottom: 7px !important;
}
.brand {
	background: url('../pictures/books.png');
	background-size: 100% 100%;
	margin-bottom: 15px;
	height: 185px;
}
.progress {
	display: none;
}
.login {
	display: none;
	width: 430px;
	max-width: 95%;
}
.admin-info {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #c5c5c5;
}
.book-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.book-title:hover {
	cursor: pointer;
}
