/* ====================================================
   0. Loading And Copyright Related Part
   ==================================================== */
.loading {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	background:#000;
	opacity:0.6;
	z-index: 2000;
}
.loading-circle {
	height: 120px;
	width: 120px;
	z-index: 2006;
}
.copyright {
	padding-top: 20px;
	line-height: 1em;
	border-top: 1px solid rgba(158, 158, 158, 0.3);
	text-align: center;
}
.copyright a {
	color: inherit;
}
ul .copyright {
	margin-top: calc(100vh - 450px);
}
ul .copyright a {
	padding: 0 !important;
}

/* ====================================================
   1. Card And Modal Related Part
   ==================================================== */
.card-action {
	padding-top: 7px !important;
	padding-bottom: 10px !important;
}
.card.horizontal .card-image {
    max-width: 100px;
}
.card.horizontal .card-stacked .card-content {
	padding-top: 5px;
	padding-left: 17px;
	padding-right: 0;
}
.card.horizontal .card-stacked {
	width: calc(100% - 100px);
}
.card.horizontal.list-card .card-image img {
	max-width: 80px;
}
.card.horizontal.list-card .card-stacked .card-content {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 0;
}
.card.horizontal.list-card .card-stacked{
	width: calc(100% - 128px);
}
.card .card-content {
	padding-bottom: 0;
}

.modal {
	max-height: 90%;
}
.modal.bottom-sheet {
	max-height: 100% !important;
}
.modal.bottom-sheet .modal-content{
	padding-bottom: 7px;
}
.modal.modal-fixed-footer .modal-footer {
	display: flex;
	justify-content: center;
}
.modal .welcome-content {
	padding-bottom: 15px;
}

/* ====================================================
   2. Cover And Cover Image Related Part
   ==================================================== */
.cover {
	margin-right: 0;
}
.cover .cover-image {
	position: absolute;
	visibility: hidden;
	z-index: 5;
	bottom: 1em;
	left: 1.5em;
}
.cover .cover-image img {
	max-width: 100px;
}
.cover:hover .cover-image {
	visibility: visible;
}

/* ====================================================
   3. Self-Defined Style Or Overwrite Part
   ==================================================== */
th {
	font-weight: 500;
}
.white-text {
	padding-bottom: 7px !important;
}
.dialog-title {
	font-size: 2rem;
	line-height: 100%;
	margin-top: 0.3rem;
	margin-bottom: 1.5rem;
}
.brand {
	background: url('../pictures/books.png');
	background-size: 100% 100%;
	margin-bottom: 15px;
	height: 185px;
}
.load-img {
	margin-top: 1.3rem;
	margin-bottom: 1.5rem;
}
.start {
	background-color: #ee6e73;
	color: white;
	width: 100%;
}
.selection {
	padding-left: 10.5px;
	padding-right: 10.5px;
}
.reserve {
	display: flex;
	justify-content: center;
}
.reservation {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.reservation-title {
	font-size: 2em;
	text-align: center;
	padding-bottom: 20px;
	font-weight: 300;
}
.book-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.book-title:hover {
	cursor: pointer;
}
.progress,
.book-categoryA,
.book-categoryB {
	display: none;
}
.btn-add {
	position: absolute;
	right: 7px; 
	bottom: 6px;
}
.btn-del {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0.7em; 
	bottom: 0.5em;
	font-size: 15px;
	width: 27px;
	height: 27px;
	background-color: #009688 !important;
}
.btn-confirm {
	background-color: #ee6673;
	color: white;
}
.alert-content {
	padding-bottom: 10px !important;
}
.placeholder {
	display: none;
	padding-bottom: 60px;
	text-align: center;
	color: #9e9e9e
}
.book-confirm {
	display: none;
	position: fixed;
	background-color: #ee6e73;
	font-size: 1.3em;
	text-align: center;
	line-height: 45px;
	color: #fff;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 45px;
}
.underline {
	color: inherit;
	text-decoration: underline;
}
.admin-system {
	color: #ee6e73;
}